body {
  height: 100vh;
  display: grid;
  grid-template-rows: 75px auto 70px;
  grid-template-areas: "header header" "main main" "footer footer";
}

.header {
  grid-area: header;
  background-color: #000000;
}

.header .logo {
  background: url('../img/marvel.svg') no-repeat center;
  height: 100%;
}

.container-content {
  grid-area: main;
}

.content {
  /* max-width: 980px;
  width: 100%;
  margin: 0 auto;   */
  padding: 2% 0;
}

.content .card {
  width: 13rem;
  margin: 5px;
}

.footer {
  grid-area: footer;
  background-color: #c2c2c2;
}